*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.idea
.Python
.DS_Store
.installed.cfg
.mr.developer.cfg
coverage
test
bin
lib
parts
include
develop-eggs
!src
src/*
!src/kedja