[buildout]
parts =
    kedja
    redis
    redis-build
    redis-server

develop = .

eggs =
    kedja_server[testing]
    coverage
    nose
    waitress
    pyramid_debugtoolbar
    pyramid_ipython
    lingua
    requests
#    sphinx
#    sphinxcontrib-openapi
#    cornice.ext.sphinx
#cornice.ext.swagger


newest = false
prefer-final = true
eggs-directory = ${buildout:directory}/eggs
download-cache =
# show-picked-versions = true
# update-versions-file = ${buildout:directory}/var/picked_versions.cfg
versions = versions

extensions =
    mr.developer

# mr.developer settings:
sources = sources
auto-checkout = *


[kedja]
recipe = zc.recipe.egg
dependent-scripts = true
unzip = true
interpreter = py
eggs =
    ${buildout:eggs}

[versions]


[sources]
arche = git git@git.radkompaniet.se:arche_ng.git
authomatic = git https://github.com/authomatic/authomatic.git


[redis]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
url = http://download.redis.io/redis-stable.tar.gz


[redis-build]
recipe = collective.recipe.cmd
on_install = true
on_update = false
cmds = cd ${redis:location} && make


[redis-server]
recipe = collective.recipe.scriptgen
cmd = ${redis:location}/src/redis-server
arguments =
    ${buildout:directory}/etc/redis.conf
